.sheet .window-content {
    padding: 0;
}

.mfate2-sheet {
    display: grid;
    grid-template-areas: "header header" "content content";
    grid-template-rows: auto 1fr
}

.mfate-sheet__header {
    grid-area: header;
}

.mfate-sheet__tab--main {
    display: grid;
    /* grid-template-areas: "skills aspects" "tracks stunts";
    grid-template-rows: minmax(50%, 545px) minmax(300px, 1fr); */
    grid-template-areas: "skills aspects" "skills stunts" "tracks stunts";
    grid-template-rows: minmax(200px, 4fr) minmax(112px, 1fr) minmax(240px, 2fr);
    grid-template-columns: 1fr 1fr;
    height: 100%;
    column-gap: 6px;
    row-gap: 6px;
    margin: 6px;
}

.mfate-panel--skills {
    grid-area: skills;
}

.mfate-panel--aspects {
    grid-area: aspects;
}

.mfate-panel--tracks {
    grid-area: tracks;
}

.mfate-panel--stunts {
    grid-area: stunts;
}

.mfate-sheet .sheet-body {
    flex: 1;
    display: flex;
    padding-top: .5em;
}

.tab[data-tab].active {
    display: grid;
}

.sheet-body {
    grid-area: content;
    overflow: hidden;
}


/* .mfate-sheet { */


/* display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    max-height: 100%;
    min-width: 720px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background: white no-repeat url("../../../systems/ModularFate/assets/pbf.svg") bottom right;
    background-size: 200px; */


/* } */

.mfate-sheet__header {
    display: flex;
    padding: .5em .5em 0;
    background: lightgrey;
}

.mfate-sheet__identity-panel {
    display: flex;
    flex: 2;
}

.mfate-sheet__identity-avatar {
    width: 100px;
    border: 1px solid gray;
}

.mfate-sheet__identity-name {
    min-width: 120px;
    border: 1px solid gray;
    font-size: xx-large;
    border: 0;
    resize: none;
    font-family: Montserrat;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 5px darkslategrey;
    height: auto;
    max-height: 88px;
    background: none;
}

.mfate-sheet__meta {
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
}

.mfate-sheet__meta-column {
    display: table;
    flex: 50%;
    box-sizing: border-box;
}

.mfate-sheet__meta-item {
    display: table-row;
}

.mfate-sheet__meta-label,
.mfate-sheet__meta-value {
    display: table-cell;
    padding: .3em .5em;
}

.mfate-sheet__meta-label {
    padding-left: .5em;
    min-width: 100px;
    max-width: 170px;
}

.mfate-sheet__meta-column+.mfate-sheet__meta-column .mfate-sheet__meta-label {
    min-width: 120px;
    max-width: 170px;
}

.mfate-sheet__meta-value {
    width: 75px;
    border: none;
}

.mfate-sheet__meta-value[disabled] {
    opacity: .5;
}

.mfate-sheet__tabs {
    flex: 1;
}


/* Tabs navigation */

.mfate-sheet__tabs {
    display: flex;
    flex-direction: column;
}

.mfate-sheet__tabs-nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    box-shadow: inset 0px -1px 0 0 #ccc;
}

.mfate-sheet__tabs-nav-item {}

.mfate-sheet__tabs-nav-link {
    border: 1px solid #ccc;
    border-radius: 3px 3px 0 0;
    margin-left: 3px;
    background: white;
}

.mfate-sheet__tabs-nav-link:not(.active) {
    box-shadow: inset 0px -6px 9px -6px #ccc;
}

.mfate-sheet__tabs-nav-link.active {
    border-bottom: none;
}

.mfate-sheet__tabs-nav-icon {
    font-size: 1.5em;
    padding: 2px 1em 1px;
    display: block;
}


/* Tabs */

.mfate-sheet__tab {
    flex: 1;
}

.mfate-sheet__tab--main {
    /* flex: 1;
    display: grid;
    grid-template-areas: "skills aspects" "tracks stunts"; */
    /* grid-template-rows: minmax(50%, 545px);
    grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: minmax(50%, 545px) minmax(0, 1fr);
    grid-template-columns: 1fr 1fr; */
}

.mfate-sheet__tab--secondary {
    display: none;
}


/* Panel */

.mfate-panel {
    display: flex;
    flex-direction: column;
}

.mfate-panel__panel {
    border: 1px solid gray;
    display: flex;
}

.mfate-panel__header {
    display: flex;
    align-items: baseline;
    padding: .5em .5em 0;
    background: #185CAB;
    color: white;
}

.mfate-panel__header::after {
    content: "";
    display: block;
    background: #185CAB;
    width: 100%;
    height: 3px;
}

.mfate-panel__body {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.mfate-panel__header-label {
    flex: 1;
    font-size: 14pt;
    font-family: Montserrat;
    font-weight: bold;
    margin: 0 .5em 0 0;
}

.mfate-panel__header-button {
    background: none;
    border: none;
    flex: 0;
    font-size: medium;
    padding-right: 8px;
}


/* Skills list */

.mfate-skills-list {
    overflow-x: hidden;
    overflow-y: auto;
    display: table;
    width: 100%;
    /* border: .5em solid transparent; */
    /* padding: 0; */
    padding: .5em;
}

.mfate-skills-list__item {
    display: table-row;
}

.mfate-skills-list__number,
.mfate-skills-list__adjective,
.mfate-skills-list__skill-name {
    display: table-cell;
    border-bottom: 1px solid lightsteelblue;
    padding: .3em .5em;
}

.mfate-skills-list__number {
    width: 10px;
}

.mfate-skills-list__adjective {
    width: 10px;
}

.mfate-skills-list__skill-name {
    cursor: pointer;
}


/* Aspect list */

.mfate-aspects-list {
    overflow-x: hidden;
    overflow-y: auto;
    padding: .5em;
}

.mfate-aspects-list__item {
    list-style: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: .5em;
}

.mfate-aspects-list__label {
    font-family: Montserrat;
    font-weight: bold;
}

.mfate-aspects-list__description {
    width: 100%;
    overflow: hidden;
    border: none;
}


/* Tracks list */

.mfate-tracks {
    flex: 1;
    overflow: auto;
}

.mfate-tracks__list {
    display: table;
    width: 100%;
}

.mfate-tracks__item {
    display: table-row;
    list-style: none;
}

.mfate-tracks__item-label {
    display: table-cell;
    vertical-align: middle;
}

.mfate-checkbox {
    margin: 0;
    display: flex-row;
    float: left;
    position: relative;
    padding-left: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mfate-tracks {
    overflow: hidden;
    height: 100%;
}

#tracks_body {
    padding: 0 .5em;
    overflow-y: auto;
}

.tracks-block {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}